<!DOCTYPE html>
<html>
	<head>
		{{template "head"}}
		<title>{{.Title}} - 磊哥的小站</title>
	</head>
	<body>
		<div class="container">
			<div class="row">
				{{template "navbar" .}}
			</div>
			<div class="row" style="padding-top:5%">
				<div class="col-md-2">
				</div>
				<div class="col-md-8">
					{{if .IsEditArticle}}
						{{template "editarticle" .}}
					{{end}}
					{{if .IsAddArticle}}
						{{template "addarticle" .}}
					{{end}}
					{{if .IsPhoto}}
						{{template "editphoto" .}}
					{{end}}
					{{if .IsSort}}
						{{template "editsort" .}}
					{{end}}
					{{if .IsPwd}}
						{{template "editpwd" .}}
					{{end}}
				</div>
				<div class="col-md-2">
				</div>
			</div>
		</div>
	</body>
</html>